* {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Inter', sans-serif;
}
h1 {
  font-size: 49px;
  font-weight: 400;
}
h2 {
  font-size: 38px;
  font-weight: 700;  
}
h3 {
  font-size: 25px;
  font-weight: 400;
}
h4 {
  font-size: 18px;
  font-weight: 400;
}
h5 {
  font-size: 15px;
  font-weight: 400;
}
h6 {
  font-size: 14px;
  font-weight: 400;
}
.container{
  max-width: 80%;
  margin: 0 auto; 
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.topbar {
  background-color: #EDEDED;
}
.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;

}
.red {
  color: #D87775;
  margin-left: 15px;
}
.logo {
  width: 140px;
  height: 24px;
}
header {
  background: #FBFBFB;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.button {
  width: 160px;
  height: 50px;
  background-color: #E48D8B;
  color: white;
}
.button p {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}
.texticon {
  width: 140px;
  height: 26px;
}
.grey {
  color: #757575;
}

.buttons {
  display: flex;
  border-radius: none;
}
.pink {
  width: 154px;
  background-color: #E48D8B;
  color: white;
}
.watch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  margin-left: 10px;
  background-color: #EDEDED;
  color: #757575;
}
.big {
  font-size: 31px;
  font-weight: 700;
}
.col-6 {
  flex:50% 1 1;
}
.woman {
  max-width: 100%;
}
.man {
  max-width: 100%;
}
.micro {
max-width: 100%;
}
.podcastt {
  width: 494px;
}
.loremone {
  width: 300px;
}
.col-4 {
  flex: 33.3% 1 1;
} 
.block.two {
  margin-top: 150px;
}
.mikrophone h3 {
  width: 334px;
}
.person h3 {
  width: 274px;
}
.shaika h3 {
  width: 294px;
}
p.similar  {
  width: 255px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
} 
.differ {
  width: 250px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}
.block.three {
  margin-top: 180px;
}
.teach {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  width: 493px;
}
.podcas h2 {
  width: 500px;
}
.block.four {
  margin-top: 180px;
}
.microphone {
  width: 475px;
}
.block.five {
  background-color:#017CFF;
  margin-top: 100px;
}
.white h2 {
  color: white;
  text-align: center;
  margin: 60px 0;
} 
.col p {
  color: white;
  font-size: 17px;
}
.col span {
  font-size: 80px;
  font-weight: 700;
  color: white;
}
.tetragon {
  width: 59px;
  height: 59px;
  background-color:#87CDFF;
  margin-left: 1150px;
  margin-top: 50px;
}
.col-12 {
  width: 100%;
  text-align: center; 
  margin-top: 80px;
}
.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 66px;
  background-color:#DAD9D9;
  margin: 8px 0;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
.columns {
  margin-top: 60px;
}

.thirty-sev {
  width: 237px;
}
.forty-three {
  width: 243px;
}
.twenty-sev {
  width: 227px;
}
.col-3 {
  flex: 1 1 25%;
}

.block.seven {
  margin-top: 50px;
}
.dark {
  background-color: #194677;
}
.mathew {
  text-align: center;
  margin: 50px 0 ;
  padding: 60px 0;
}
.mathew h3 {
  width: 646px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Inter', sans-serif;
}
strong {
  color: #E48D8B;
}
.line {
  display: flex;
  justify-content: space-between;
}
.question{
  text-align: start;
}

img.vec {
  width: 14.11px;
  height: 7.35px;
  margin-top: 20px;
}
.question h2 {
  font-weight: 400;
}
.block.eight .container {
  width: 800px;

}
.pinks {
  background-color: #E48D8B;
  margin-top: 100px;
}
.pinks h2 {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}
.card-content {
  background-color:white;
  width: 430px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

 }
 .checks {
  display: flex;
  margin-left: 50px;
  padding: 0;
}